<table class="grid" color-drag>
  <tr ng-repeat="row in flag track by $index" class="row">
    <td ng-repeat="cell in row track by $index" ng-style="{ 'background-color': cell }" ng-click="setColor($parent.$index, $index, color)">{{cell}}</td>
  </tr>
</table>

<hr>
<div>
  <h3>Colour picker:</h3>
  <input id="colorInput" type="color" ng-model="color">
  <input type="text" ng-model="color"/>

  <h3>Pre-defined colours</h3>
  <div class="container row">
  	<div class="col-xs-2" ng-repeat="color in colors" ng-style="{ 'background-color': color }" ng-click="$parent.color = color">{{ color }}</div>
  </div>
</div>

<hr>
<div>
  <button class="btn btn-primary" ng-click="updateHolidayLights(flag)">Update Holiday Lights</button>
  <button class="btn btn-success" ng-click="save(selectedFlag)">Save</button>
  <button class="btn btn-warning pull-right" ng-click="newFlag()">New</button>
</div>


<hr>
<div>
	<h3>Flags</h3>
	<ul class="list-group">
		<li 
			class="list-group-item" 
			ng-repeat="item in flags | orderBy: 'name'"
			ng-class="{ 'list-group-item-success': item.lights.length, 'list-group-item-info': selectedFlag == item }"
			ng-click="setCurrentFlag(item)">
			{{ item.name }}
		</li>
	</ul>
</div>